.Skills {
  background-color: #141313;
  padding-bottom: 5%;
}

.Skills p {
  padding-left: 25%;
  width: 50%;
}

.Skills .List ul {
  color: white;
  list-style-type: none;
  padding: 0;
}

.Skills .Container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-around;
}

.Skills .Container img {
  width: 60%;
  padding-right: 40%;
}

.Skills .Container .List {
  flex-basis: 33%;
  background-color: black;
  box-shadow: 0 0 1vw 0.3vw white;
  border-radius: 9px;
  margin-bottom: 2px;
}

.Skills .List ul li {
  display: flex;
  justify-content: center;
}

@media (max-width: 910px) {
  .Skills .Container img {
    width: 80%;
    padding-right: 20%;
  }
}

@media (max-width: 714px) {
  .Skills .Container .List {
    flex-basis: 49%;
  }
}
