.Contact {
  background: rgb(0, 7, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 7, 36, 1) 0%,
    rgba(9, 121, 90, 1) 0%,
    #341e46 100%
  );
  height: 300px;
  display: flex;
  align-items: center;
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Contact .ContactIcons svg path {
  cursor: pointer;
}
