body {
  margin: 0;
  font-family: "Voltaire", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

h1 {
  font-weight: 900;
  font-size: 3.2rem;
  font-size: calc(1rem + 1vw);
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 1.65rem;
  color: white;
}

p {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

a {
  font-weight: 900;
  font-size: 1.15rem;
  color: white;
}

li {
  font-size: 1.29rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
